.wrapper {
  width: 100%;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  height: 60vh;
}

.name {
  color: black;
  text-align: left;
  font-size: 0.75em;
  cursor: pointer;
  transition: 0.3s;
}

.name:hover {
  scale: 1.05;
}

@media only screen and (max-width: 768px) {
  .name {
    text-align: center;
  }
}
