.wrapper {
  width: 100%;
  height: 2.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.name {
  font-family: "Baloo Bhaijaan 2", sans-serif;
  color: black;
  text-align: left;
  font-size: 0.8em;
  cursor: pointer;
  transition: 0.3s;
  width: wrap;
  white-space: nowrap;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  font-weight: lighter;
}

.arrow-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.arrow {
  height: 1.1rem;
  transform: rotate(180deg);
}
