.item {
  position: relative;
  width: 90%;
  min-height: 50px;
  z-index: 120;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.image {
  height: 5rem;
  aspect-ratio: 1;
  object-fit: contain;
}

.main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options {
  font-size: 0.9em;
  margin-top: 1rem;
  color: var(--gray-text-color);
}

.item-divider {
  background-color: var(--property-background-color);
  border-radius: 2rem;
  height: 1px;
  width: 100%;
  margin: auto;
}

.total-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
}

.quantity-wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.price-wrapper {
}
