.wrapper {
  position: fixed;
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
  background-color: white;
  z-index: 210;
  top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-in 0.3s;
}

.title {
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 3rem;
}

.item-list {
  width: 65%;
  min-height: 15rem;
}

.header-padding {
  width: 95%;
  margin: auto;
  height: inherit;
}

.columns-padding {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: inherit;
  margin-left: calc(10% + 1rem);
}

.item-list-header {
  width: 100%;
  font-weight: bold;
  font-size: 0.8em;
  height: 2.5rem;
  background-color: var(--property-background-color);
}

.divider {
  width: 100%;
  border: 1px solid rgba(178, 178, 178, 0.476);
}

.column-other {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 35%;
  min-width: 15rem;
}

.other-item {
  width: 5rem;
  text-align: center;
}

.item-wrapper::-webkit-scrollbar {
  display: none;
}

@keyframes slide-in {
  0% {
    transform: translate(10%, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.513);
  height: 100vh;
  width: 100%;
  top: 0;
  z-index: 200;
}

.price {
  justify-content: end;
}

.actions {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: end;
}

.action-button {
  margin: auto;
  width: 10%;
  border-radius: 1rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

.empty {
  padding-top: 5rem;
  padding-bottom: 5rem;
  margin: auto;

  text-align: center;
  font-size: 0.7em;
  font-weight: bold;
  color: var(--gray-text-color);
}

.details {
  width: 65%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
