.item {
  position: relative;
  width: 90%;
  min-height: 50px;
  z-index: 120;
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.item-divider {
  background-color: black;
  border-radius: 2rem;
  height: 1px;
  width: 80%;
}

.total-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
}

.quantity-wrapper {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.price-wrapper {
}
