.moto-section {
  height: 100vh;
  width: 100%;
  background-color: rgb(180, 232, 232);
  display: flex;
  justify-content: center;
  align-items: center;
}

.moto {
  font-weight: bold;
  font-size: xx-large;
  color: white;
  scale: 2;
  text-align: left;
}

.moto-bold {
  color: #00d1d1;
}

.about-section {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgb(230, 242, 216);
  display: flex;
  justify-content: left;
  align-items: center;
}

.info {
  width: 30%;
  display: flex;
  flex-direction: column;
  padding-left: 10rem;
}

.about-title {
  font-weight: bold;
  font-size: xx-large;
  color: white;
  scale: 2;
  margin-left: 32%;
  margin-bottom: 2rem;
  text-align: left;
}

.about-text {
  font-weight: bold;
  font-size: large;
  color: rgb(157, 168, 141);
  text-align: left;
}

.bean {
  position: absolute;
  height: 400px;
  width: auto;
  right: 0;
  bottom: 0;
  filter: invert(100%);
  right: 10%;
}
