.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(253, 236, 199);
  z-index: 500;
  transition: 0.25s;
  animation: in-anim 0.25s;
}

.title {
  position: absolute;
  top: 15vh;
  left: 10%;
  z-index: 60;
  color: black;
  font-size: 5vw;
  z-index: 550;
  text-transform: capitalize;
}

.out {
  height: 30vh;
}

.image-wrapper {
  position: absolute;
  width: inherit;
  height: inherit;
  top: 0;
  left: 0;
  z-index: inherit;
  overflow: hidden;
}

.image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  filter: brightness(90%) contrast(120%) blur(2px);
}

@keyframes in-anim {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}
