.wrapper {
  width: 100%;
  padding-left: 1rem;
}

.title-wrapper {
  width: fit-content;
  padding: 0.5rem;
  padding-right: 2rem;
  position: relative;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
  transform: skewX(-20deg);
  background-color: #0a433c;
}

.title {
  position: relative;
  font-size: 2em;
  color: #f6ffeb;
  z-index: 100;
  transform: skewX(20deg);
  text-align: left;
}

.description {
  font-size: 1em;
  width: 60%;
  text-align: left;
  color: gray;
  margin-bottom: 0.7rem;
}

.price-wrapper {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  width: fit-content;
  background-color: #0a433c;
  transform: skewX(-10deg);
}

.price {
  position: relative;
  text-align: left;
  z-index: 100;
  color: #f6ffeb;
  font-size: 1.5em;
  transform: skewX(10deg);
}
