.selector {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.quantity-input {
  width: 20%;
  text-align: center;
}
