.wrapper {
  position: fixed;
  width: 100%;
  top: 4rem;
  height: calc(100vh - 4rem);
  overflow: scroll;
  left: 0;
  background-color: white;
  z-index: 100;
  animation: slide-in 0.25s ease-out;
  padding-top: 2rem;
}

.item-main {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: fit-content;
  margin-bottom: 4rem;
}

.past {
  text-decoration: none;
  color: gray;
}

.path {
  text-align: right;
  color: gray;
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  justify-content: flex-start;
}

.information-wrapper {
  position: relative;
  width: 50%;
  min-height: inherit;
  margin-left: auto;
  margin-right: 5%;
}

.info-division {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-section {
  width: 50%;
}

@keyframes slide-in {
  0% {
    top: 100vh;
  }
  100% {
    top: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .item-main {
    flex-direction: column;
    min-height: 90vh;
  }

  .information-wrapper {
    width: 85%;
    margin: auto;
    flex-direction: column;
  }

  .path {
    width: 100%;
    margin: auto;
    text-align: left;
    margin-top: 3rem;
  }

  .info-division {
    display: block;
  }

  .info-section {
    width: 100%;
  }
}
