.wrapper {
  width: 100%;
  text-align: center;
  padding-left: 1rem;
}

.title-wrapper {
  position: relative;
  margin-bottom: 0.5rem;
}

.title {
  position: relative;
  width: 60%;
  font-size: 4vw;
  color: #f6ffeb;
  z-index: 100;
}

.title-background {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #0a433c;
  width: 60%;
  height: 5vw;
  z-index: 90;
  transform: skewX(-20deg);
}

.description {
  font-size: 1.5vw;
  width: 60%;
  text-align: left;
  color: gray;
  margin-bottom: 0.7rem;
}

.price-wrapper {
  position: relative;
  margin-top: 4vw;
  margin-bottom: 2vw;
  height: 2rem;
  display: flex;
  align-items: center;
}

.price {
  position: relative;
  text-align: center;
  z-index: 100;
  color: #f6ffeb;
  font-size: 3vw;
  padding-left: 1vw;
}

.price-background {
  position: absolute;
  background-color: #0a433c;
  width: 14vw;
  height: 5vw;
  z-index: 90;
  transform: skewX(-10deg);
}
