.wrapper {
  position: fixed;
  width: 100%;
  height: 90vh;
  top: 10vh;
  left: 0;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: row;
  animation: slide-in 0.2s ease-out;
  overflow-y: scroll;
}

.position-wrapper {
  margin-top: 10vh;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.back-button {
  height: 3vw;
  aspect-ratio: 1;
  transform: rotate(90deg);
  cursor: pointer;
  transition: 0.3s;
}

.back-button:hover {
  scale: 1.1;
}

.path {
  width: 90%;
  text-align: left;
  color: gray;
  font-size: 1.5vw;
  margin-left: 1rem;
  font-style: italic;
}

@keyframes slide-in {
  0% {
    top: 100vh;
  }
  100% {
    top: 0vh;
  }
}

.information-wrapper {
  position: relative;
  margin-top: 5%;
  width: 30%;
  height: 80vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
