.wrapper {
  position: relative;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 2rem;
}

.general-section {
  width: 35%;
  padding-top: 7.5vh;
  padding-bottom: 7.5vh;
  padding-left: 7.5%;
  padding-right: 7.5%;
  background-color: var(--property-background-color);
  min-height: 40vh;
}

.material-section {
  min-height: 40vh;
  width: 35%;
  padding-bottom: 7.5vh;
  padding-left: 7.5%;
  padding-right: 7.5%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
}

.title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 2rem;
}

.subtitle {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.paragraph {
  margin-bottom: 2rem;
  color: var(--gray-text-color);
}

p {
  margin-bottom: 2rem;
  color: var(--gray-text-color);
}

@media only screen and (max-width: 768px) {
  .wrapper {
    flex-direction: column;
  }

  .general-section {
    width: 85%;
  }

  .material-section {
    width: 85%;
    margin-top: 3rem;
  }
}
