.wrapper {
  width: 100%;
  margin: auto;
  margin-top: 10rem;
}

.title {
  text-align: center;
  padding-bottom: 3rem;
}

.list {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  column-gap: 0.1rem;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    margin-top: 0rem;
    width: 90%;
  }

  .list {
    grid-template-columns: 50% 50%;
    row-gap: 1.5rem;
  }

  .title {
    font-size: 1.1em;
  }
}

@media only screen and (max-width: 480px) {
  .wrapper {
    margin-top: 0rem;
    width: 90%;
  }

  .list {
    grid-template-columns: 100%;
    row-gap: 1.5rem;
  }

  .title {
    font-size: 1.1em;
  }
}
