.wrapper {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.title {
  margin-bottom: 2rem;
  color: gray;
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 0.1rem;
  row-gap: 1rem;
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: auto auto;
  }

  .wrapper {
    width: 95%;
  }
}

@media only screen and (max-width: 480px) {
  .grid {
    grid-template-columns: auto;
  }
}
