.wrapper {
  width: 85%;
  margin: auto;
  margin-top: 15vh;
  overflow: hidden;
}

.head-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-text {
  margin-top: 1rem;
  width: 45%;
  text-align: center;
  color: rgba(0, 0, 0, 0.596);
  line-height: 1.5rem;
  font-size: 1.5em;
  font-size: 2.5em;
  letter-spacing: 0.2rem;
  font-family: "Bebas Neue", sans-serif;
}

.head-image {
  margin-top: 3.5rem;
  width: 60%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.main-wrapper {
  margin: auto;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.section-title {
  text-align: left;
  margin-top: 5rem;
}

.section-text {
  text-align: left;
  margin-top: 1.5rem;
  color: rgb(183, 183, 183);
  font-size: 0.9em;
  line-height: 1.7rem;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: rgba(239, 239, 239, 0.247);
  margin-top: 5rem;
}

.footer-image {
  width: 60%;
  aspect-ratio: 17 / 9;
  object-fit: cover;
}

.footer-description-wrapper {
  width: 28%;
  margin: auto;
  display: flex;
  align-items: left;
  justify-content: left;
  flex-direction: column;
  padding-bottom: 7rem;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 93%;
  }

  .head-image {
    width: 100%;
    margin-top: 2rem;
  }

  .head-text {
    font-size: 1em;
  }

  .main-wrapper {
    width: 100%;
  }

  .section-title {
    margin-top: 2rem;
  }

  .section-text {
    line-height: 1.25rem;
    font-size: 0.7em;
    margin-top: 1rem;
  }

  .footer-wrapper {
    flex-direction: column;
  }

  .footer-image {
    width: 100%;
  }

  .footer-description-wrapper {
    width: 90%;
  }
}
