.wrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 0;
  z-index: 300;
  animation: load-in 1s;
  color: white;
  background-color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  overflow-x: hidden;
  user-select: none;
}

.transparent {
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  width: 93%;
  margin: auto;
}

.divider {
  border: 1px solid rgba(114, 114, 114, 0.149);
  width: 100%;
}

.nav-item {
  margin: auto;
  margin-right: 1rem;
  margin-left: 1rem;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
  filter: invert(0%);
  -webkit-flitter: invert(0%);
}

.nav-img-item {
  filter: invert(100%);
  -webkit-flitter: invert(100%);
}

.nav-item:hover {
  opacity: 1;
}

.left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  cursor: pointer;
  margin-left: 0;
  opacity: 0.7;
  height: 2.2em;
}

.language {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 500;
}

.search {
  cursor: pointer;
  height: 0.9em;
  aspect-ratio: 1;
}

.action-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-text {
  margin-left: 0.5rem;
}

.saved-item {
  height: 1.8rem;
  aspect-ratio: 0.9;
  margin-right: 0;
}

.cart-item {
  margin-right: 2rem;
}

.counter-anchor {
  position: relative;
}

.counter {
  position: absolute;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 1.5rem;
  background-color: black;
  color: whitesmoke;
  aspect-ratio: 1;
  border-radius: 50%;
  font-size: 0.7em;
  font-weight: bold;
  z-index: 100;
}

@media only screen and (max-width: 480px) {
  .search {
    display: none;
  }

  .language {
    display: none;
  }

  .menu-text {
    display: none;
  }
}
