.wrapper {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  top: 0;
  z-index: 190;
  animation: load-in 1s;
  color: white;
  background-color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
}

.transparent {
  background-color: transparent;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 93%;
  margin: auto;
}

.divider {
  border: 1px solid rgba(114, 114, 114, 0.149);
  width: 100%;
}

.nav-item {
  margin: auto;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.2s;
  filter: invert(0%);
  -webkit-flitter: invert(0%);
}

.nav-img-item {
  filter: invert(100%);
  -webkit-flitter: invert(100%);
}

.nav-item:hover {
  opacity: 1;
  scale: 1.05;
}

.left-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.nav-logo {
  cursor: pointer;
  margin-left: 0;
  opacity: 1;
  scale: 0.9;
}

.language {
  cursor: pointer;
  margin-right: 3rem;
  margin-left: 3rem;
  font-size: 0.9em;
  font-weight: 500;
}

.search {
  cursor: pointer;
}

.action-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.menu-icon {
}

.menu-text {
  margin-left: 0.5rem;
  font-weight: 500;
}

.nav-logo:hover {
  scale: 0.92;
}

@keyframes load-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
