.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.771);
  z-index: 190;
}

.wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 20%;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  background-color: aliceblue;
  z-index: 90;
  animation: slide-in 0.5s;
  background-color: rgb(255, 249, 241);
  box-shadow: -2px 0px 10px rgba(44, 44, 44, 0.297);
}

@keyframes slide-in {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

.category-element {
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  font-size: xx-large;
  width: 100%;
  z-index: 91;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.subcategory-wrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 10%;
  align-items: center;
  right: 20%;
  top: 0;
  background-color: rgb(201, 196, 188);
  transition: 0.5s;
  z-index: 80;
  opacity: 1;
  animation: slide-in 0.5s;
}

.subcategory-element {
  text-decoration: none;
  color: black;
  text-align: center;
  margin-top: 2rem;
  font-weight: bold;
  font-size: xx-large;
  width: 100%;
  z-index: 91;
}

.category-element:hover {
  background-color: rgb(243, 237, 230);
}

.subcategory-element:hover {
  background-color: rgb(207, 203, 195);
}

.category-element:hover .subcategory-wrapper {
  right: 20%;
  opacity: 1;
}

.category-element:hover .subcategory-element {
  opacity: 1;
}

/*new navigation */
