.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 310;
  animation: fade-in 0.3s;
  background-color: rgba(0, 0, 0, 0.179);
}

.exit-actions {
  top: 4vh;
  right: 18%;
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.exit-icon {
  width: 1.1rem;
  aspect-ratio: 1;
}

.exit-text {
  display: block;
  margin-left: 0.5rem;
  font-size: 0.8em;
  font-weight: 600;
}

.hr {
  border: 1px solid rgba(128, 128, 128, 0.113);
  width: 100%;
  border-radius: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.wrapper {
  position: fixed;
  width: 27%;
  height: 100vh;
  right: 0;
  top: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: slide-in 0.3s;
  z-index: 315;
}

.content-wrapper {
  width: 70%;
  margin-top: 15vh;
}

.category-wrapper {
  display: flex;
  flex-direction: column;
  z-index: 90;
}

.category-wrapper::-webkit-scrollbar {
  display: none;
}

.specials-wrapper {
  padding-top: 2rem;
}

.special {
  cursor: pointer;
  font-size: 0.8em;
  font-weight: bolder;
  height: 2.5rem;
}

.other-info {
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: rgba(0, 0, 0, 0.335);
}

.right-column {
  margin-left: 3rem;
}

.other-text {
  font-size: 0.8em;
  line-height: 1.5rem;
  transition: 0.3s;
  cursor: pointer;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.335);
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slide-in {
  0% {
    transform: translate(100%, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 100%;
    overflow-y: scroll;
  }
  .exit-text {
    display: none;
  }

  .content-wrapper {
    width: 80%;
    margin-top: 11vh;

    margin-bottom: 2rem;
  }

  .exit-actions {
    top: 5vh;
    right: 10%;
  }
}
