.wrapper {
  position: relative;
  margin: auto;
  width: 85%;
  height: 20rem;
  z-index: 0;
}

.image {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  z-index: 50;
  filter: brightness(90%) contrast(120%) blur(2px) grayscale(20%);
}

.title-wrapper {
  position: absolute;
  top: 10rem;
  left: 10%;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 3rem;
  width: fit-content;
  background-color: #0a433c;
  transform: skewX(-10deg);
}

.title {
  z-index: 60;
  color: #d6dfd3;
  font-size: 4em;
  text-transform: capitalize;
  transform: skewX(10deg);
}
