.wrapper {
  position: relative;
  width: 100%;
  height: 50vh;
  z-index: 0;
}

.image {
  width: 100%;
  height: inherit;
  object-fit: cover;
  z-index: 50;
}

.title {
  position: absolute;
  top: 25vh;

  left: 10%;
  z-index: 60;
  color: black;
  font-size: 5vw;
}
