.wrapper {
  width: 100%;
  position: relative;
  margin: auto;
  z-index: 0;
  display: flex;
  flex-direction: row;
}

.image {
  width: 30%;
  aspect-ratio: 1;
  object-fit: cover;
  z-index: 50;
}

.info-wrapper {
  width: 70%;
  padding-top: 8rem;
  padding-left: 5rem;
}

.title {
  z-index: 60;
  font-size: 1.25em;
  text-transform: uppercase;
}

.description {
  margin-top: 3rem;
  font-size: 0.9em;
  color: rgba(46, 46, 46, 0.302);
  line-height: 1.6rem;
  width: 70%;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    flex-direction: column;
  }

  .image {
    width: 100%;
    margin: auto;
  }

  .info-wrapper {
    width: 100%;
  }
}
