.wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
}

.background {
  position: absolute;
  background-color: #2b7280;
  top: 10%;
  left: 15%;
  width: 65%;
  height: 70%;
}

.items-wrapper {
  position: absolute;
  width: 30%;
  top: 15%;
  left: 17%;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 4rem;
  row-gap: 2rem;
}

.image {
  position: absolute;
  top: 17%;
  left: 65%;
  width: 20%;
  height: 70%;
  object-fit: cover;
}

.title-wrapper {
  position: absolute;
  background-color: #0a433c;
  padding: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  top: 65%;
  left: 56%;
}

.title {
  font-size: 4vw;
  color: #d6dfd3;
  transition: 0.3s;
}

.title-wrapper:hover .title {
  scale: 1.02;
}
