.item-grid {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0;
  column-gap: 0;
  padding: 0;
  scroll-snap-type: y mandatory;
  overflow-x: scroll;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
