.wrapper {
  margin: auto;
  width: 85%;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 1rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sort-wrapper {
  position: relative;
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: rgb(244, 244, 244);
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  display: none;
  max-width: 100%;
  min-width: 100%;
  z-index: 150;
  background-color: aliceblue;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropdown-option {
  padding: 0.5rem;
}

.dropdown-option:hover {
  background-color: rgb(215, 222, 228);
}

.sort-wrapper:hover .dropdown-options {
  display: flex;
}

/* grid style */

.grid-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: aliceblue;
}

.style-element {
  transition: 0.3s;
  cursor: pointer;
}

.style-element:hover {
  scale: 1.1;
}

@media only screen and (max-width: 480px) {
  .item-grid {
    grid-template-columns: auto auto;
    width: 100%;
  }

  .small-grid {
    grid-template-columns: auto;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    display: none;
  }
}
