.wrapper {
  width: 83%;
  margin: auto;
  margin-top: 15vh;
}

.count {
  color: rgb(113, 113, 113);
  margin-top: 4rem;
  font-size: 0.8em;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .wrapper {
    width: 93%;
  }
}
