.wrapper {
  margin-top: 6rem;
  margin-bottom: 6rem;
  z-index: 0;
  min-height: 400px;
  padding: 1rem;
}

.image {
  object-fit: cover;
  width: 300px;
  height: 400px;
  transition: 0.5s;
  box-shadow: 2px 2px 10px black;
}

.image:hover {
  opacity: 0.9;
}

.horizontal-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.focus-image {
  position: absolute;
  z-index: 30;
  left: 50%;
  transform: translate(-50%, 0);
}

.middle-image {
  position: absolute;
  width: 30%;
  z-index: 20;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left: auto;
  scale: 0.8;
  background-color: black;
  opacity: 0.7;
}

.back-image {
  width: 50%;
  z-index: 10;
  justify-content: space-between;
  scale: 0.6;
  opacity: 0.4;
}
