.wrapper {
  margin-top: 6rem;
  margin-bottom: 6rem;
  z-index: 0;
  min-height: 400px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  z-index: 30;
  scroll-snap-align: center;
}

.image {
  object-fit: cover;
  width: 80%;
  height: 60vh;
  transition: 0.5s;
}

.image:hover {
  opacity: 0.9;
  width: 100%;
}
