.App {
  text-align: center;
}

body {
  background-color: gray;
}

.nav-state {
  transition: 0.5s;
  position: relative;
  height: 100vh;
  left: 0;
}

.nav-active {
  left: -20%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (max-width: 768px) {
  .nav-active {
    left: 0;
  }
}
