@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

:root {
  --gray-text-color: #9a9a9a;
  --item-background-color: #fafafa;
  --property-background-color: rgba(235, 235, 235, 0.606);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Work Sans", sans-serif;
  overflow: overlay;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
