.backdrop {
  z-index: 900;
  background-color: rgba(0, 0, 0, 0.453);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(5px);
  animation: pop-in 0.2s;
}

.wrapper {
  opacity: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  animation: pop-in 0.2s 0.1s forwards;
  background-color: aliceblue;
}

.image {
  z-index: 1000;
  position: fixed;
  height: 80vh;
  max-width: 65%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  user-select: none;
}

.exit {
  position: fixed;
  top: 2%;
  right: 3%;
  height: 2rem;
  aspect-ratio: 1;
  z-index: 1000;
  filter: brightness(50%) invert(100%);
  cursor: pointer;
  transition: 0.5s;
  padding: 2rem;
  opacity: 0.7;
}

.arrow {
  z-index: 1200;
  position: fixed;
  top: 50%;
  height: 4rem;
  filter: invert(100%);
  cursor: pointer;
  user-select: none;
  transition: 0.2s;
  padding: 5rem;
}

.arrow-right {
  left: 92.5%;
  transform: translate(-50%, -50%) rotate(-90deg);
}

.arrow-left {
  left: 7.5%;
  transform: translate(-50%, -50%) rotate(90deg);
}

.arrow:hover {
  height: 4.3rem;
}

.exit:hover {
  opacity: 1;
}

@keyframes pop-in {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 768px) {
  .image {
    max-width: 100%;
  }

  .arrow {
    height: 100vh;
    width: 25%;
  }

  .arrow-right {
    right: -10%;
  }

  .arrow-left {
    left: -10%;
  }
}
